#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main {
  background-color: #F5F5F5;
  border-radius: 0.5rem;
  min-height: 90vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dice--container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 2rem;
  padding: 2rem;
  margin-bottom: 0.5rem;
}
.dice--face {
  height: 4rem;
  width: 4rem;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border: solid 1px #312f2f;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.dice--num {
  font-size: 2.5rem;
  color: black;
}
.Roll--Button {
  width: 12rem;
  height: 4rem;
  font-weight: bold;
  font-size: 1.4rem;
  /* margin-bottom: 2rem; */
  background-color: #5035FF;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 1rem;
  font-family: 'Karla', sans-serif;
  cursor: pointer;
}
.Roll--Button:focus{
  outline: none;
}
.Roll--Button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
.rollcounter--message {
  font-size: 1.5rem;
  font-weight:lighter;
  margin-top: 1rem;
  color: #5035FF;
}
@media screen and (max-width: 767px) {
  .dice--container {
    display: grid;
    grid-template: auto auto / repeat(2, 1fr);
    gap: 1rem;
    padding: 2rem;
    margin-bottom: 0.5rem;
  }
  .dice--face {
    height: 2.5rem;
    width: 2.5rem;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
    border: solid 1px #312f2f;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .dice--num {
    font-size: 2rem;
    color: black;
  }
}
